<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <title>RECOMENDACIONES XTREAMFIT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <!--ICONOS-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

        <link rel="stylesheet" type="text/css" href="Estilos.css">

        <link rel="preconnect" href="https://fonts.gstatic.com">    
        <link href="https://fonts.googleapis.com/css2?family=Nombre+de+la+fuente" rel="stylesheet">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_4NdsM9axUZ-RICi5owPRkVz5Icg4XmY"></script>
        <style>

            @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Monoton&family=Nothing+You+Could+Do&family=Young+Serif&family=Zeyada&display=swap');

            .video {
                position: relative;
                padding-bottom: 170%; /* Proporción 16:9 para el contenedor */
                padding-top: 30px; /* Espacio adicional arriba (ajusta según sea necesario) */
                height: 0;
            }

            .video video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            /* Estilos para la clase 'custom-heading' */
            .custom-heading {
                text-align: center; /* Alineación del texto al centro */
            }

            /* Estilos para los 'span' dentro de 'custom-heading' */
            .custom-heading span {
                font-family: 'Marcellus SC', serif; /* Cambia "TuTipoDeLetraAtractivo" por el tipo de letra deseado */
                color: black; /* XTREM en negro */
            }
            .custom-heading span1 {
                font-family: 'Young Serif', serif; /* Cambia "TuTipoDeLetraAtractivo" por el tipo de letra deseado */
                color: white; /* XTREM en negro */
            }

            /* Estilos para el segundo 'span' dentro de 'custom-heading' */
            .custom-heading span:last-child {
                color: red; /* FIT en rojo */
            }
            #map {
                height: 480px; /* Ajusta la altura como desees */
                width: 30%; /* El ancho ocupará todo el contenedor padre */
            }
          
            #volvideo{
                height: 625px; /* Ajusta la altura como desees */
                width: 100%; /* El ancho ocupará todo el contenedor padre */
            }
            #viDesc{
                height: 500px; /* Ajusta la altura como desees */
                width: 50%;
            }
            .container {
                display: flex;
                align-items: center;
                max-width: 1000px;
                margin: 0 auto;
            }
            
        </style>
    </head>
    <body>
        <header th:replace = "ZInicios/cabecerainicio :: #cabecerainicio"></header>
<!--        <div class="container border">
                <div class="row border">
                <div class="col border">1</div>
                <div class="col border">2</div>
                <div class="col border">3</div>
                <div class="col border">4</div>
                <div class="col border">5</div>
                <div class="col border">6</div>
                <div class="col border">7</div>
                <div class="col border">8</div>
                <div class="col border">9</div>
                <div class="col border">10</div>
                <div class="col border">11</div>
                <div class="col border">12</div>
                
            </div>-->
            <!-- Titulo -->
            <div class=" row py-3">
              <h1 class="text-center custom-heading" style="font-size: 7vw; font-weight: bold;">
                  <span>RECOMENDACIONES</span><span>FIT</span>
              </h1>
            </div>
            <!------------>
                        <!-- Carousel and Map -->
            <div class="container row border">
                  <!-- ========== Start Carousel ========== -->
                  <div class="col-12" >
                      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <img src="img/carousel/carousel_1.png" th:src ="@{/img/carousel/carousel_1.png}"
                                      class="d-block w-100" 
                                      alt="Imagen GYM 1" />
                              </div>
                              <div class="carousel-item">
                                  <img src="img/carousel/carousel_2.png" th:src ="@{/img/carousel/carousel_2.png}"                             
                                      class="d-block w-100" 
                                      alt="Imagen GYM 2" />
                              </div>
                              <div class="carousel-item">
                                  <img src="img/carousel/carousel_3.png" th:src ="@{/img/carousel/carousel_3.png}"                             
                                      class="d-block w-100" 
                                      alt="Imagen GYM 3" />
                              </div>
                              <div class="carousel-item">
                                  <img src="img/carousel/carousel_4.png" th:src ="@{/img/carousel/carousel_4.png}"                             
                                      class="d-block w-100" 
                                      alt="Imagen GYM 4" />
                              </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Siguiente</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Anterior</span>
                          </button>
                      </div>
                  </div>
                  <!-- ========== End Carousel ========== -->
                <div class="form-group row py-3">
                    <div class="col">
                        <label for="categoria_tipo">Tipo:</label>
                        <select class="form-control" id="categoria_tipo">
                            <option value=" ">Selecionar</option>
                            <option value="cardio">Cardio</option>
                            <option value="powerlifting">Levantamiento de Pesas</option>
                            <option value="plyometrics">Pliometría</option>
                            <option value="strength">Fuerza</option>
                            <option value="stretching">Extensión</option>
                            <option value="strongman">Strongman</option>

                            
                        </select>
                    </div>
                    <div class="col">
                        <label for="categoria-musculo">Músculo: </label>
                        <select class="form-control" id="categoria-musculo">
                            <option value=" ">Selecionar</option>
                            <option value="abdominals">Abdominales</option>
                            <option value="abductors">Abductores</option>
                            <option value="adductors">Aductores</option>
                            <option value="biceps">Bíceps</option>
                            <option value="calves">Pantorrillas</option>
                            <option value="chest">Pecho</option>
                            <option value="forearms">Antebrazos</option>
                            <option value="glutes">Glúteos</option>
                            <option value="hamstrings">Isquiotibiales</option>
                            <option value="lats">Dorsales</option>
                            <option value="lower_back">Espalda Baja</option>
                            <option value="middle_back">Espalda Media</option>
                            <option value="neck">Cuello</option>
                            <option value="quadriceps">Cuádriceps</option>
                            <option value="traps">Traps</option>
                            <option value="triceps">Tríceps</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="categoria-dificultad:">Dificultad:</label>
                        
                        <select class="form-control" id="categoria-dificultad:">
                            <option value=" ">Selecionar</option>
                            <option value="beginner">Principiante</option>
                            <option value="intermediate">Intermedio</option>
                            <option value="expert">Experto</option>
                        </select>
                    </div>
                    <br><br><br><br>
                    <a href="#" class="btn btn-warning" id="boton-actualizarRec">Actualizar</a>
                    
                </div>
                  <div class="sidebar">
                    <div id="Card_Recomendacion"></div>
                    <div id="pagination_Recomen"></div>  
                  </div>
                   
             

               

            </div>
                        
             <!-- Footer -->
        <footer th:replace = "Zmenus/piedepagina :: pie"></footer>
        <script>
                let data;
                let tipo = '';
                let musculo = 'abdominals';
                let dificultad = 'beginner';
                async function loadDataAndDisplay() {
                    // Tu código para cargar los datos
                    let data;
                    const url = `https://exercises-by-api-ninjas.p.rapidapi.com/v1/exercises?type=${tipo}&muscle=${musculo}&difficulty=${dificultad}`;
                    const options = {
                        method: 'GET',
                        headers: {
                            'X-RapidAPI-Key': 'ae213e78cfmshabf73ea0d4e39e5p1258d6jsn4e7fe775d418',
                            'X-RapidAPI-Host': 'exercises-by-api-ninjas.p.rapidapi.com'
                        }
                    };

                    try {
                        
                        
                        const response = await fetch(url, options);
                        const result = await response.json();
                        data = result;
                        const productsPerPage = 3;
                        let currentPage = 1;
                        showRecomendaciones(currentPage, data, productsPerPage);
                        updatePaginationRecomen(data, currentPage, productsPerPage);
                        console.table(data);
                        document.getElementById("boton-actualizarRec").addEventListener("click", function() {
                        // Obtener la categoría seleccionada del select.
                        console.table(data);
                                tipo = document.getElementById("categoria_tipo").value;
                                musculo = document.getElementById("categoria-musculo").value;
                                dificultad = document.getElementById("categoria-dificultad").value;
                                
                                document.addEventListener('DOMContentLoaded', loadDataAndDisplay);
                                
                         
                });
                    } catch (error) {
                        console.error(error);
                    }
                }
                
                
              
        function showRecomendaciones(page, dataRec, productsPerPageRec) {
            const productsContainer = document.getElementById("Card_Recomendacion");
            productsContainer.innerHTML = "";

            const startIndex = (page - 1) * productsPerPageRec;
            const endIndex = startIndex + productsPerPageRec;

            for (let i = startIndex; i < endIndex && i < dataRec.length; i++) {
                const dataRecom = dataRec[i];

                const card = document.createElement("div");
                card.className = "card container px-5";
                card.style.display = "contents";


                const image = document.createElement("img");
                image.className = "card-img-top";
                image.src = "/img/logo_2.png"; // Asegúrate de proporcionar la ruta correcta

                const name = document.createElement("h2");
                name.className = "card-title";
                name.textContent = "Nombre: " + dataRecom.name;
                
                const type = document.createElement("p");
                type.className = "card-text";
                type.textContent = "Tipo: " + dataRecom.type;
                
                const muscle = document.createElement("p");
                muscle.className = "card-text";
                muscle.textContent = "Musculo: " + dataRecom.muscle;
                
                const equipment = document.createElement("p");
                equipment.className = "card-text";
                equipment.textContent = "Equipo: " + dataRecom.equipment;
                
                const difficulty = document.createElement("p");
                difficulty.className = "card-text";
                difficulty.textContent = "Dificultad: " + dataRecom.difficulty;
                
                const tit = document.createElement("h5");
                tit.className = "card-title";
                tit.textContent = "Instrucción ";

                const instructions = document.createElement("p");
                 instructions.className = "card-text";
                instructions.textContent = dataRecom.instructions; 

             //   const cost = document.createElement("p");
              //  cost.className = "card-text";
               // cost.textContent = "S/. " + product.precio;
                
                //const boton1 = document.createElement("button");
               // boton1.className = "btn btn-outline-success";
               // boton1.textContent = "Seleccionar";
                const separador0 = document.createElement("br");
                const separador1 = document.createElement("hr");
                const separador2 = document.createElement("br");
                
                card.appendChild(image);
                card.appendChild(name);
                card.appendChild(type);
                card.appendChild(muscle);
                card.appendChild(difficulty);
                card.appendChild(equipment);
                card.appendChild(tit);
                card.appendChild(instructions);
                card.appendChild(separador0);
                card.appendChild(separador1);
                card.appendChild(separador2);

                productsContainer.appendChild(card);
            }
        }

        function updatePaginationRecomen(dataPRec, currentPageRec, productsPerPageRec) {
            const pagination = document.getElementById("pagination_Recomen");
            pagination.innerHTML = "";

            const totalPages = Math.ceil(dataPRec.length / productsPerPageRec);

            for (let i = 1; i <= totalPages; i++) {
                const pageButton = document.createElement("button");
                pageButton.textContent = i;
                pageButton.addEventListener("click", () => {
                    currentPageRec = i;
                    showRecomendaciones(currentPageRec, dataPRec, productsPerPageRec); // Corrección en la llamada a la función
                    updatePaginationRecomen(dataPRec, currentPageRec, productsPerPageRec); // Corrección en la llamada a la función
                });
                pagination.appendChild(pageButton);
            }
        }
        document.addEventListener('DOMContentLoaded', loadDataAndDisplay);
        </script>
    </body>
</html>
