

<footer th:fragment = "pie" class="container-fluid text-bg-dark " style="padding: 2rem 0; text-align: center;">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-12" >
                    <a class="navbar-brand" href="inicio">
                    <img src="#" th:src ="@{/img/logo_2.png}" 
                         alt="Logo de HL2" width="250" class="img-fluid mx-auto d-block"/>
                     </a>
                </div>
                <div class="col-md-2 col-sm-4 col-12">
                    <a class="nav-link" >Empleados</a>
                    <a class="nav-link" >Clientes</a>
                    <a class="nav-link" >Servicios</a>
                    <a class="nav-link" >Registros</a>
                    <a class="nav-link" >Reportes</a>
                </div>
                <div class="col-md-2 col-sm-4 col-12">
                    <br />Política de cookies<br />
                    Política de privaciada                    
                </div>
                <div class="col-md-2 col-sm-6 col-12"> 
                   <br /><h4>Contactos</h4>
                    <strong>Correo:</strong> dota_player@valve.pe<br />
                    <strong>Tel:</strong> 999-008-000<br />
                    <strong>Dirección:</strong> Baños del Inca, Cajamarca   
                </div>
                <div class="col-md-3 col-sm-6 col-12">                   
                    <br /><h4>Libro de reclamaciones</h4>
                    <p style="font-size: 5rem">
                        <i class="bi bi-book"></i>
                    </p>
                </div>
            </div>
            <hr />
            <h1 style="margin-top: 2rem;">
                <a class="bi bi-facebook" href="https://web.facebook.com/XtremFitCajamarca"></a>
                &nbsp;
                <a class="bi bi-instagram" href ="https://twitter.com/GuiaDota2"></a>
                
                &nbsp;
                <a class="bi bi-google" href="https://accounts.google.com/v3/signin/identifier?dsh=S1577735488%3A1662665469720408&continue=https%3A%2F%2Fmail.google.com&ec=GAlAFw&hl=es-419&service=mail&flowName=GlifWebSignIn&flowEntry=AddSession">
                </a>
            
            </h1>
            <p>Copyright &copy;. Todos los derechos reservados</p>
        </footer>
