body
{
    background-color: white;
}

.containerI {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.video {
    flex: 0;
    margin-right: 20px;
}
        
.sidebar {
    flex: 1;
    background-color: whitesmoke;
    padding: 50px;
    
}
.cuadro {
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    width: 350px;
    height: 400px;
    text-align:  left;
}
