<html>
    <head>
        <title>Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <!--ICONOS-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!--Sweet Alert 2-->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function Eliminar(opcion) {

                event.preventDefault();

                Swal.fire({
                    title: '¿Estas seguro?',
                    text: "¡No serás capaz de recuperarlo!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Confirmar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                                '¡Eliminado!',
                                'El servicio ha sido eliminado.',
                                'success'
                                ).then((result) => {
                            if (result.isConfirmed) {
                                location.href = opcion.href;
                            }
                        });
                    }
                });
            }
            function TiempoBusqueda() {
                event.preventDefault();
                let timerInterval;
                Swal.fire({
                    title: 'Realizando búsqueda',
                    html: 'Tiempo restante: <b></b> milisegundos.',
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading();
                        const b = Swal.getHtmlContainer().querySelector('b');
                        timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft();
                        }, 100);
                    },
                    willClose: () => {
                        clearInterval(timerInterval);
                    }
                }).then((result) => {
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {
                        console.log('I was closed by the timer');
                    }

                    document.formBuscarReg.submit();
                });
            }
            function Registrar() {

                event.preventDefault();

                const emp = document.getElementById("emp").value;
                const cli = document.getElementById("cli").value;
                const ser = document.getElementById("ser").value;
                const dur = document.getElementById("dur").value;

                if (emp === "" || cli === "" || ser == "" || dur === "")
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'No pueden haber espacios vacios',
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else
                {
                    Swal.fire({
                        title: '¿Quieres registrar el servicio?',
                        text: "Agregando un nuevo servicio...",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Confirmar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire(
                                    '¡Guardado!',
                                    'El servicio ha sido registrado.',
                                    'success'
                                    ).then((result) => {
                                if (result.isConfirmed) {
                                    const formulario = document.getElementById("formRegistroReg");
                                    formulario.submit();
                                }
                            });
                        } else if (result.isDenied) {
                            Swal.fire('La información no ha sido registrada', '', 'info');
                        }
                    });
                }
            }
            function Editar() {
                const exampleModal = document.getElementById('ModalEditar');
                exampleModal.addEventListener('show.bs.modal', event => {
                    // Button that triggered the modal
                    const button = event.relatedTarget;

                    // Datos
                    const id = button.getAttribute('data-bs-id');
                    const emp = button.getAttribute('data-bs-emp');
                    const cli = button.getAttribute('data-bs-cli');
                    const ser = button.getAttribute('data-bs-ser');
                    const dur = button.getAttribute('data-bs-dur');

                    // Campos
                    const campoId = document.getElementById('id');
                    const campoEmp = document.getElementById('empx');
                    const campoCli = document.getElementById('clix');
                    const campoSer = document.getElementById('serx');
                    const campoDur = document.getElementById('durx');

                    //Colocar los datos a los datos
                    campoId.value = id;
                    campoEmp.value = emp;
                    campoCli.value = cli;
                    campoSer.value = ser;
                    campoDur.value = dur;

                });
            }
            function Actualizar() {

                event.preventDefault();

                //const id = document.getElementById("id").value;
                const emp = document.getElementById("empx").value;
                const cli = document.getElementById("clix").value;
                const ser = document.getElementById("serx").value;
                const dur = document.getElementById("durx").value;

                if (emp === "" || cli === "" || ser === "" || dur === "")
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'No pueden haber espacios vacios',
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else
                {
                    Swal.fire({
                        title: '¿Quieres actualizar el servicio?',
                        text: "Actualizando los datos...",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Confirmar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire(
                                    '¡Guardado!',
                                    'El servicio ha sido actualizado.',
                                    'success'
                                    ).then((result) => {
                                if (result.isConfirmed) {
                                    const formulario = document.getElementById("formActualizarReg");
                                    formulario.submit();
                                }
                            });
                        } else if (result.isDenied) {
                            Swal.fire('La información no ha sido actualizada', '', 'info');
                        }
                    });
                }
            }


        </script>

    </head>
    <body onload="Editar()">

        <div th:insert="Zmenus/encabezado :: #encabezado"> </div> 

        <div class="container">
            <hr>

            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="bi bi-plus-circle"></i></button>
                    <a th:href="@{orden_ascR}" class="btn btn-warning"><i class="bi bi-sort-up"></i></a>
                    <a th:href="@{orden_descR}" class="btn btn-info"><i class="bi bi-sort-down"></i></a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                            <label for="message-text" class="col-form-label"> Usuario:&nbsp;&nbsp;</label>
                            <label for="message-text" class="col-form-label" th:text="${empleado.nombre +' '+empleado.apellido}"></label>
                        </ul>
                        <form class="d-flex" role="search" action="buscarR" method="POST" name="formBuscarReg">
                            <input type="text" class="form-control me-2" name="dato" placeholder="Ingrese dato a buscar">
                            <button onclick="return TiempoBusqueda()" class="btn btn-outline-success" type="submit"><i class="bi bi-search">Buscar</i></button>
                        </form>
                    </div>
                </div>
            </nav>

            <hr>


            <hr>

            <table class="table table-striped">
                <thead>
                    <tr class="table" style="background-color: #778899;">
                        <th scope="col" style="color:#ffffff;">#</th>
                        <th scope="col" style="color:#ffffff;">ID</th>
                        <th scope="col" style="color:#ffffff;">Fecha</th>
                        <th scope="col" style="color:#ffffff;">Empleado</th>
                        <th scope="col" style="color:#ffffff;">Cliente</th>
                        <th scope="col" style="color:#ffffff;">Servicio</th>
                        <th scope="col" style="color:#ffffff;">Costo</th>
                        <th scope="col" style="color:#ffffff;">Duracion</th>
                        <th scope="col" style="color:#ffffff;">Costo Total</th>
                        <th scope="col" style="color:#ffffff;">Acciones</th>

                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="registro,status : ${registros}">
                        <td th:text="${status.count}"></td>
                        <td th:text="${registro.id}"></td>
                        <td th:text="${registro.fecha}"></td>
                        <td th:text="${registro.empleado.nombre}"></td>
                        <td th:text="${registro.cliente.nombre}"></td>
                        <td th:text="${registro.servicio.nombre}"></td>
                        <td th:text="${registro.servicio.precio}"></td>
                        <td th:text="${registro.duracion_serv}"></td>
                        <td th:text="${registro.costo_total}"></td>
                        <td>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalEditar" th:attr="data-bs-id=${registro.id}, data-bs-fecha=${registro.fecha}, data-bs-emp=${registro.empleado.id}, data-bs-cli=${registro.cliente.id}, data-bs-ser=${registro.servicio.id}, data-bs-sprec=${registro.servicio.precio}, data-bs-dur=${registro.duracion_serv}, data-bs-cos=${registro.costo_total}" data-bs-whatever="@mdo"><i class="bi bi-pencil-square"></i></button>

                            <a onclick="return Eliminar(this)" th:href="@{eliminarR(id=${registro.id})}" class="btn btn-warning"><i class="bi bi-trash3-fill"></i></a>
                        </td>
                    </tr>
                <tbody>
            </table>

        </div>


        <!-- Modal REGISTRAR -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo registro</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="registrarR" method="POST" name="formRegistroReg" id="formRegistroReg">
                            <div class="mb-3">
                                
                                <label for="message-text" class="col-form-label">Empleado: </label>
                                <label for="message-text" class="col-form-label" th:text="${empleado.nombre +' '+empleado.apellido}"></label>
                                <input class="form-control" name="emp" id="emp" th:value="${empleado.id}" type="hidden">
                                <!--
                                <label for="recipient-name" class="col-form-label">Empleado</label>
                                <select name="emp" id="emp" class="form-control">
                                    <option value="">Seleccione</option>
                                    <option th:value="${empleado.id}" th:text="${empleado.nombre +' '+empleado.apellido}"></option>
                                </select>
                                -->
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Cliente</label>
                                <select name="cli" id="cli" class="form-control">
                                    <option value="">Seleccione</option>
                                    <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre +' '+cliente.apellido}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Servicio</label>
                                <select name="ser" id="ser" class="form-control">
                                    <option value="">Seleccione</option>
                                    <option th:each="servicio : ${servicios}" th:value="${servicio.id}" th:text="${servicio.nombre}+' - S/.'+${servicio.precio}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Duracion(meses): </label>
                                <input class="form-control" name="dur" id="dur" placeholder="Duracion del servicio">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button onclick="return Registrar()" type="button" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal EDITAR -->
        <div class="modal fade" id="ModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar registro</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="actualizarR" method="POST" name="formActualizarReg" id="formActualizarReg">
                            <input type="hidden" name="id" id="id">
                            <div class="mb-3">
                                
                                <label for="message-text" class="col-form-label">Empleado: </label>
                                <input class="form-control" name="emp" id="empx" th:value="${empleado.id}" th:text="${empleado.nombre +' '+empleado.apellido}">
                                
                                <!--
                                <label for="recipient-name" class="col-form-label">Empleado</label>
                                 <select name="emp" id="empx" class="form-control">
                                    <option value="">Seleccione</option>
                                    <option th:each="empleado : ${empleados}" th:value="${empleado.id}" th:text="${empleado.nombre +' '+empleado.apellido}"></option>
                                </select>
                                -->
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Cliente</label>
                                <select name="cli" id="clix" class="form-control">
                                    <option value="">Seleccione</option>
                                    <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre +' '+cliente.apellido}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Servicio</label>
                                <select name="ser" id="serx" class="form-control">
                                    <option value="">Seleccione</option>
                                    <option th:each="servicio : ${servicios}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Duracion(meses): </label>
                                <input class="form-control" name="dur" id="durx" placeholder="Duracion del servicio">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button onclick="return Actualizar()" type="button" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
