<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <!--ICONOS-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!--Sweet Alert 2-->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function validarNumeroYLongitud(input, longitud) {
                const valor = input.value;
                const errorSpan = input.parentElement.querySelector('.text-danger'); // Encuentra el elemento span de error

                if (!/^[0-9]+$/.test(valor)) {
                    errorSpan.textContent = 'Este campo solo permite números.';
                } else if (valor.length > longitud) {
                    errorSpan.textContent = `Este campo debe tener ${longitud} dígitos.`;
                } else {
                    errorSpan.textContent = ''; // Borra el mensaje de error si la validación es exitosa
                }
            }
            function Registrar(){
                
                event.preventDefault();
                
                const nom = document.getElementById("nom").value;
                const ape = document.getElementById("ape").value;
                const dni = document.getElementById("dni").value;
                const cel = document.getElementById("cel").value;
                const dir = document.getElementById("dir").value;
                const user = document.getElementById("user").value;
                const pass = document.getElementById("pass").value;
               
                
                if(nom=="" || ape=="" || dni=="" || cel=="" || dir=="" || user=="" || pass=="")
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'No pueden haber espacios vacios',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                else
                {
                        Swal.fire({
                        title: '¿Quieres registrar al usuario?',
                        text: "Agregando un nuevo usuario...",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Confirmar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire(
                                    '¡Guardado!',
                                    'El empleado ha sido registrado.',
                                    'success'
                                    ).then((result)=>{
                                        if (result.isConfirmed){
                                            const formulario = document.getElementById("formRegistroEmp");
                                            formulario.submit();
                                        }
                                    });
                        } else if (result.isDenied) {
                            Swal.fire('La información no ha sido registrada', '', 'info');
                        }
                    });
                }
            }
        </script>
    </head>
    <body>
        
        <!--Formulario-->
        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #131313;">
                <div class="container-fluid">
                    <a class="navbar-brand mx-auto" th:href="@{/}">
                        <img src= "#" th:src="@{/img/logo_1.png}" 
                             alt="Logo de GYM" 
                             width="40"/> 
                        XTREMEFIT
                        <img src= "#" th:src="@{/img/logo_1.png}" 
                             alt="Logo de GYM" 
                             width="40"/>
                    </a>
                </div>
        </nav>
        

            
            
            <br><br><br>
            
            <div class="container"><!-- comment -->
            <form action="ingresar" method="POST" name="formLogin"> <!--get a traves de url, post internamente-->    
            <div class="row mt-3">
                <div class="col">
                    <label for="" class="col-sm-2 col-form-label">Usuario</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="userLogin" name="user" placeholder="Ingrese usuario" required="required">
                </div>
            </div>
            <br>
            
            <div class="row mt-3">
                <div class="col">
                    <label for="" class="col-sm-2 col-form-label">Contraseña</label>
                </div>
                <div class="col">
                    <input type="password" class="form-control" id="passwordLogin" name="password" placeholder="Ingrese contraseña" required="required">
                </div>
            </div>
             <br><hr><br>
              <button onclick="return Ingresar()" 
                    type="submit" 
                    class="btn btn-outline-success" 
                    id="InicioLogin"
                    name="grabar">
                <i class="bi bi-box-arrow-right"></i> Iniciar Sesión</button>
            </form>
                <br>
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" 
                    type="submit" 
                    class="btn btn-outline-success" 
                    id="RegistrarLogin"
                    name="registrar">
                <i class="bi bi-box-arrow-left"></i> Registrar </button>
            </div>
            
            
            
             <!-- Modal REGISTRAR -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Usuario</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="registrarUs" method="POST" name="formRegistroEmp" id="formRegistroEmp">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" name="nom" id="nom" placeholder="Nombre de usuario">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Apellido: </label>
                                <input class="form-control" name="ape" id="ape" placeholder="Apellido de usuario">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">DNI:</label>
                                <input type="text" class="form-control" name="dni" id="dni" placeholder="DNI de usuario" required="required" oninput="validarNumeroYLongitud(this, 8)" >
                                <span id="dniError" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Celular:</label>
                                <input type="text" class="form-control" name="cel" id="cel" placeholder="Celular de usuario" required="required" oninput="validarNumeroYLongitud(this, 9)">
                                <span id="celError" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Dirección: </label>
                                <input class="form-control" name="dir" id="dir" placeholder="Dirección de usuario">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Usuario: </label>
                                <input class="form-control" name="user" id="user" placeholder="Usuario de usuario">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Contraseña: </label>
                                <input class="form-control" name="pass" id="pass" placeholder="Contraseña de usuario">
                            </div>
                            
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button onclick="return Registrar()" type="button" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
            </div>
        </div>    
        
    </body>
    <-<!-- Footer -->
    <footer th:replace = "Zmenus/piedepagina :: pie"></footer>
</html>
