<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!--Sweet Alert 2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="Estilos.css">
    <style>
        /* Estilos CSS para la alineación y el diseño */
       

        .video {
            flex: 1;
        }
         /* Media query para pantallas más pequeñas */
        @media (max-width: 768px) {
            .container {
                flex-direction: column; /* Cambia la dirección de la flexbox para apilar elementos */
            }
            .video, .cards {
                width: 100%; /* Ocupa todo el ancho de la pantalla */
            }
        }
    </style>
</head>

<body>
    <header th:replace = "Zmenus/encabezado :: #encabezado"></header>
    <div class="container border">
              <div class="row border">
                    <div class="col border">1</div>
                    <div class="col border">2</div>
                    <div class="col border">3</div>
                    <div class="col border">4</div>
                    <div class="col border">5</div>
                    <div class="col border">6</div>
                    <div class="col border">7</div>
                    <div class="col border">8</div>
                    <div class="col border">9</div>
                    <div class="col border">10</div>
                    <div class="col border">11</div>
                    <div class="col border">12</div>    
                    <div class="col border">9</div>
                    <div class="col border">10</div>
                    <div class="col border">11</div>
                    <div class="col border">12</div>  
                </div>
    </div>
    
    <div class="row py-3">
        <h1 class="text-center custom-heading" style="font-size: 10vw; font-weight: bold;">
            <span>PLANES</span><span>FIT</span>
        </h1>
        <button class="btn btn-warning" id="editButton" href="@{/servicio/}">
            <a th:href="@{/servicio/}"> Servicios</a>
        </button>
    </div>
    
    <div class="container py-4">
            <div class="col-12 col-sm-3">
                <div class="video">
                    <video id="volvideo" width="240" height="500" controls autoplay>
                    <source src="video/video.mp4" type="video/mp4">
                    Tu navegador no admite el elemento de video.
                    </video>
                    <script>
                        var video = document.getElementById("volvideo");
                        video.volume = 0;
                    </script>
                </div> 
            </div>
      
            <div class="sidebar col-12 col-sm-12">
                    <div id="products"></div>
                    <div id="pagination"></div>  
            </div>
    </div>

    
    <!-- Footer -->
    <footer th:replace = "Zmenus/piedepagina :: pie"></footer>
    <script>
        // Obtén el contenido que viene de /*[[${servicios}]]*/
        const data = "/*[[${servicios}]]*/";

        // Define una expresión regular para encontrar los objetos de Servicio
        const servicioRegex = /Servicio\(id=(\d+),\s+nombre=([^,]+),\s+precio=([\d.]+)\)/g;

        // Encuentra y extrae los objetos Servicio en el formato deseado
        const products = [];
        let match;
        while ((match = servicioRegex.exec(data)) !== null) {
            const id = parseInt(match[1]);
            const nombre = match[2];
            const precio = parseFloat(match[3]);
            products.push({ id, nombre, precio});
        }
        
        const productsPerPage = 3;
        let currentPage = 1;

        function showProducts(page) {
            const productsContainer = document.getElementById("products");
            productsContainer.innerHTML = "";

            const startIndex = (page - 1) * productsPerPage;
            const endIndex = startIndex + productsPerPage;

            for (let i = startIndex; i < endIndex && i < products.length; i++) {
                const product = products[i];
                
                
                const card = document.createElement("div");
                card.className = "card col-12 col-sm-4";
               // card.width = "200px"

                const image = document.createElement("img");
                //image.src = product.imageUrl;
                image.className = "card-img-top";
                image.src = "/img/logo_1.png";
              
                
                
                const name = document.createElement("h2");
                name.className = "card-title";
                name.textContent = product.nombre;

                const description = document.createElement("p");
                //description.textContent = product.description;
                description.className = "card-text";
                description.textContent = "GYM XTREMFIT";

                const cost = document.createElement("p");
                cost.className = "card-text";
                cost.textContent = "S/. " + product.precio;
                
                const boton1 = document.createElement("button");
                boton1.className = "btn btn-outline-success";
                boton1.textContent = "Seleccionar";
                
                card.appendChild(image);
                card.appendChild(name);
                card.appendChild(description);
                card.appendChild(cost);
                card.appendChild(boton1);

                productsContainer.appendChild(card);
            }
        }

        function updatePagination() {
            const pagination = document.getElementById("pagination");
            pagination.innerHTML = "";

            const totalPages = Math.ceil(products.length / productsPerPage);

            for (let i = 1; i <= totalPages; i++) {
                const pageButton = document.createElement("button");
                pageButton.textContent = i;
                pageButton.addEventListener("click", () => {
                    currentPage = i;
                    showProducts(currentPage);
                    updatePagination();
                });
                pagination.appendChild(pageButton);
            }
        }

        showProducts(currentPage);
        updatePagination();
    </script>
    <script>
        const usuarioData = "/*[[${empleado}]]*/";
        // Define una expresión regular para encontrar los objetos de Empleado
        const usuarioRegex = /Empleado\(id=(\d+),\s+dni=(\d+),\s+nombre=([^,]+),\s+apellido=([^,]+),\s+direccion=([^,]+),\s+celular=(\d+),\s+usuario=([^,]+),\s+password=([^)]+)\)/g;
        
        const usuarios = [];
            let usuarioMatch;
            while ((usuarioMatch = usuarioRegex.exec(usuarioData)) !== null) {
                const id = parseInt(usuarioMatch[1]);
                const dni = usuarioMatch[2];
                const nombre = usuarioMatch[3];
                const apellido = usuarioMatch[4];
                const direccion = usuarioMatch[5];
                const celular = usuarioMatch[6];
                const usuario = usuarioMatch[7];
                const password = usuarioMatch[8];
                usuarios.push({ id, dni, nombre, apellido, direccion, celular, usuario, password});
        }
        
        function OcultarBotonUsuario(){
            const editButton = document.getElementById("editButton");
            if(usuarios[0].id === 1){
                editButton.style.display = "block";
            }else{
                editButton.style.display = "none";
            }
        }
        function alSalir(){
            const alSalirButton = document.getElementById("editButton");
            alSalirButton.style.display = "none";
        }
        // Llama a la función al cargar la página
        window.onload = OcultarBotonUsuario();
       // window.onclose = alSalir();
        
    </script>
</body>
</html>
