
<div id="menu">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #131313;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><i class="bi bi-box-arrow-left"></i> Cerrar sesión</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/empleado/}"><i class="bi bi-person-plus-fill"></i> Empleados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/cliente/}"><i class="bi bi-person-lines-fill"></i> Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/servicio/}"><i class="bi bi-clipboard2-plus"></i> Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/registro/}"><i class="bi bi-person-lines-fill"></i> Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reporte/}"><i class="bi bi-bar-chart"></i> Reporte</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
